.header{
    height: 40vw;
    margin: 10px  auto;
    background: url('/header_img.jpeg') no-repeat;
    background-size: contain;
    position: relative;
}
.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 20%;
    left: 6vw;
    animation: fadeIn 3s;
}

.header-contents h2{
    font-weight: 600;
    color: rgb(0, 0, 0);
    font-size: 4.5vw;
}
.header-contents button{
    border: none;
    color: rgb(0, 0, 0);
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw,13px);
    border-radius: 50px;
}

@media (max-width: 1050px) {
    .header-contents{
        max-width: 45%;
    }
}

@media (max-width: 750px) {
    .header-contents{
        max-width: 65%;
    }
    .header-contents p{
        display: none;
    }
    .header-contents button{
        padding: 2vw 4vw;
    }
}
